<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group.ibrochure.i_brochure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity android:name=".UI.CategoryActivity" />
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.ListBrochureActivity" />
        <activity android:name=".UI.NoConnectionServerActivity"></activity>
        <activity android:name=".UI.ProfileActivity"></activity>
        <activity android:name=".UI.EditProfileActivity"></activity>
        <activity android:name=".UI.PostActivity"></activity>
    </application>

</manifest>